CONFIG_EFI_CAPSULE_UPDATE=y
CONFIG_EFI_CAPSULE_UPDATE_FIRMWARE=y
CONFIG_EFI_CAPSULE_ON_DISK=y
CONFIG_EFI_HAVE_CAPSULE_SUPPORT=y
CONFIG_EFI_CAPSULE_FIRMWARE=y
CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=y

CONFIG_TEE=y
CONFIG_OPTEE=y

# disabling DM device remove allows the tee shm to be
# preserved across ExitBootServices.
CONFIG_DM_DEVICE_REMOVE=n

